./.git/objects/19/tmp_obj_eMnqYh
./data/data_bookorder/fold1/train.pkl
./data/data_bookorder/fold2/train.pkl
./data/data_bookorder/fold3/train.pkl
./data/data_bookorder/fold4/train.pkl
./data/data_bookorder/fold5/train.pkl
./data/data_conttime/train.pkl
./data/data_hawkes/train.pkl
./data/data_hawkesinhib/train.pkl
./data/data_meme/train.pkl
./data/data_missing/train.pkl
./data/data_retweet/test1.pkl
./data/data_retweet/train.pkl
./data/data_so/fold1/train.pkl
./data/data_so/fold2/train.pkl
./data/data_so/fold3/train.pkl
./data/data_so/fold4/train.pkl
./data/data_so/fold5/train.pkl
**.pkl